h1 {
    font-size: 40px;
    color: #c09e07;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color:rgb(233, 212, 117);
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 0px;
    display: flex;
    overflow: hidden;
}

nav {
    background-color: #fffebb;
    box-shadow: 50px;
    width: 140px;
    height: 1280px;
    padding: 1rem;
}

body > section {
    flex-grow: 1;
    position: relative;
}

#prueba {
    background-color: brown;
    width: 100px;
    height: 30px;
    border-radius: 50px;
}
.nose {
    width: 100px;
    height: 100px;
    background-color: #f8eccd;
    border: 3px solid #926b45;
}

.wawa {
    width: 50px;
    height: 50px;
    background-color: #fce099;
    border: 3px solid #d69a5f;
}

form {
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

.chat-input {
    right: 200px;
    border-radius: 25px;
    width: 500px;
    height: 50px; 
}

#historial {
    padding: 1rem;
    max-height: 80vh;
    overflow-y: auto;
}

.historial__message {
    padding: 1px;
    padding-left: 1rem;
    border-radius: 25px;
    background-color: #bda454;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.historial__message_response {
    padding: 1px;
    padding-left: 1rem;
    margin: 1rem;
    border-radius: 25px;
    background-color: #fffbd3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}